Flask==3.1.0
flask-cors==5.0.1
Flask-SocketIO==5.5.1
nest-asyncio==1.5.6
numpy==1.25.1
oracledb==2.5.1
python-dotenv==1.0.1
python-socketio==5.12.1
simple-websocket==1.1.0
websockets==11.0.3
faker==9.0.1