html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
}

.reverse button, 
.reverse input, 
.reverse .input1, 
.reverse .user-card, 
.reverse.message-bubble,
.reverse.groupChatName h1,
.reverse .groupChatName,
.reverse .groups h2,
.reverse .channels h2,
.reverse .people h2,
.reverse .user-card:hover,
.reverse .groups-btn:hover,
.reverse .channels-list-container button:hover,
.reverse .chat-window,
.reverse .Settingsmodal-content {
  transform: scaleX(-1);
}


.dark .App, 
.dark .main-container, 
.dark .top-bar, 
.dark .left-sidebar, 
.dark .chat-window, 
.dark .right-sidebar, 
.dark .signup-container, 
.dark .login-container, 
.dark .Settingsmodal-content {
  background-color: #D5CAD6;
  color: rgb(0, 0, 0);
  }

.dark button, 
.dark input, 
.dark .input1, 
.dark .user-card, 
.dark .message-bubble {
  background-color: #EAFFFD;
  color: black;
}

.dark .message-bar,
.dark .groups h2::after,
.dark .channels h2::after,
.dark .people h2::after{
  background-color: #EAFFFD;
}

.dark .groupChatName h1,
.dark .groupChatName,
.dark .groups h2,
.dark .channels h2,
.dark .people h2{
  color:#EAFFFD;
}

.dark .user-card:hover,
.dark .groups-btn:hover,
.dark .channels-list-container button:hover{
  background-color: #EFEFF0;
  color:black;
}

.dark .groups-btn,
.dark .channels-list-container button{
  color:black;
}

.dark .chat-window{
  border-left: 2px solid black;
  border-right: 2px solid black; 
}

.dark .groups-list-container::-webkit-scrollbar-thumb,
.dark .channels-list-container::-webkit-scrollbar-thumb,
.dark .chat-window::-webkit-scrollbar-thumb,
.dark .people::-webkit-scrollbar-thumb{
  background-color: black;
}

.dark .signup-box,
.dark .login-box{
  background-color: #EAFFFD;
  color: black;
}
.dark .signup-box button,
.dark .login-box button{
  background-color: #D5CAD6;
  color: black;
}


.App {
  width: 100vw;
  height: 100vh; /* Limits the height to the viewport */
  background-color: #23395B;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  overflow: hidden; /* Hides overflow within the app specifically */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.login-box,
.signup-box{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.main-container{
  background-color: #23395B;
  flex:1;
  overflow: auto;
}

/**EVERYTHING RELATED TO THE TOP BAR**/

.groupChatName {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  color:#8EA8C3;
  margin-top: 10px;
}

.groupChatName h1{
  margin-bottom: 0%;
}

.groupChatName h2{
  margin-bottom: 0%;
}

.group-icon, .trash-icon{
  width: 40px; height:40px;
}

.top-right-buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-right: 40px;
}

.top-right-buttons button{
  color: #8EA8C3;
}

.top-left-buttons {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.top-right-buttons button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; /* Fixed height for consistency */
  width: 50px; /* Fixed width to match the height */
  padding: 0; /* Remove padding to prevent size increase */
}

.top-right-buttons img {
  width: 80%; /* Adjusts the icon size relative to the button */
  height: auto; /* Keeps the aspect ratio intact */
}


.top-left-buttons button{
  background-color: transparent;
  display: grid;
  place-items: center; 
  margin-top: 0%;
  height:50%;
  padding-bottom: 50px;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0;
  background: #23395B;
  color: white;
}

h1{
  color:#8EA8C3;
}

/**EVERYTHING RELATED TO THE LEFT SIDE BAR**/
.left-sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  overflow-y: hidden;
}

.left-sidebar h2{
  color: #406E8E;
}

.button-container {
  display: flex; 
  gap: 10px;
  justify-content: left;
}
.enter-btn{
  width: 50%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: left;
  width: 65%;
}

.div-button69{
  display: flex;
  flex-direction: row;
}

.button69{
  width: 15%;
  padding: 0%;
  padding-top: 1%;
  height: 40px;
}

.button69 img{
  width: 20px;
  text-align: center;
}


.input{
  background-color: #8EA8C3;
  color: black;
  border-radius: 6px;
  height: 35px;
  border-color: #161925;
  width:50%;
}
.input::placeholder{
  color: black;
}

.groups h2 {
  position: relative;
  display: inline-block; 
}

.groups h2::after {
  content: '';
  position: absolute;
  height: 3px; /* Height of the underline */
  background-color: #406E8E; /* Color of the underline */
  left: 0;
  right: -90%;
  bottom: -5px; /* Adjusts the distance from the text to the underline */
  border-radius: 5px; /* Adds rounded corners to the ends of the underline */
}

.user-sidebar h2{
  position: relative;
  display: inline-block; 
}

.user-sidebar h2::after {
  content: '';
  position: absolute;
  height: 3px; /* Height of the underline */
  background-color: #406E8E; /* Color of the underline */
  left: 0;
  right: 0;
  bottom: -5px; /* Adjusts the distance from the text to the underline */
  border-radius: 5px; /* Adds rounded corners to the ends of the underline */
}


.channels h2 {
  position: relative;
  display: inline-block; 
  margin-top: 0%;
  margin-right: 10px;
}

.channels h2::after {
  content: '';
  position: absolute;
  height: 3px; /* Height of the underline */
  background-color: #406E8E; /* Color of the underline */
  left: 0;
  right: -90%;
  bottom: -5px; /* Adjusts the distance from the text to the underline */
  border-radius: 5px; /* Adds rounded corners to the ends of the underline */
}

.left-sidebar button{
  background-color: transparent;
  color: #8EA8C3;
}
.left-sidebar button:hover {
  background-color: #8EA8C3; 
  color: black; 
}

.groups-btn {
  display:flex;
}

.groups{
  max-height: min(100%, 50vh); 
}

.groups-list-container {
  max-height: min(50%, 30vh); 
  overflow-y: auto; 
  padding: 5px;
  padding-bottom: 0;
}

.groups-list-container ul{
  margin-bottom:0;
}

.groups-list-container::-webkit-scrollbar {
  width: 8px;
}
.groups-list-container::-webkit-scrollbar-thumb {
  background-color: #8EA8C3;
  border-radius: 4px;
}

.groups-list-container button .selected {
  background-color: #8EA8C3;
  color: black;
}

.channels-list-container {
  max-height: min(50%, 30vh);  
  overflow-y: auto; 
  padding: 5px;
}
.channels-list-container::-webkit-scrollbar {
  width: 8px;
}
.channels-list-container::-webkit-scrollbar-thumb {
  background-color: #8EA8C3;
  border-radius: 4px;
}

/**EVERYTHING RELATED TO THE MIDDLE SECTION**/
.chat-window{
  height:80vh;
  background-color: #23395B; 
  width: 100%;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  border-left: 2px solid #8EA8C3;
  border-right: 2px solid #8EA8C3; 
}

.chat-window::-webkit-scrollbar {
  width: 8px;
}
.chat-window::-webkit-scrollbar-thumb {
  background-color: #8EA8C3;
  border-radius: 4px;
}

.chat-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dot, #paperclip, #send{
  height: 20px;
}

.main-container {
  display: flex;
  flex: 1;
  margin-top: 0px;
  width: 100%;
}

.MessagesContainer {
  width: 90%;
  height: auto; /* Let the container adjust based on content */
  background-color: #efeff0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns messages to start */
  padding: 10px;
  flex: 1; /* Allow it to grow within the space */
}

.MessageBar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.message-bar {
  display: flex;
  align-items: center;
  background-color: #8EA8C3;
  padding: 10px;
  border-radius: 20px;
  gap: 10px;
  width: 80%;
}

.message-input {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 16px;
  color: black;
  outline: none;
}

.message-input::placeholder{
  color: black;
}

.send-button{
  background-color: #8EA8C3;
}

.message {
  max-width: 400px;
  margin: 10px;
  position: relative;
}

.message-header {
  display: flex;       
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 2px;
}

.user, .timestamp {
  color: #8EA8C3;
}

.message-bubble {
  padding: 10px;
  border-radius: 15px; 
  background-color: #8EA8C3;
  position: relative;
  word-wrap: break-word;
}
/**EVERYTHING RELATED TO THE RIGHT SIDE BAR**/

.right-sidebar {
  width: 20%;
  padding: 20px;
  padding-top: 0px;
  overflow-y: hidden;
}

.user-sidebar {
  padding: 16px;
  border-radius: 8px;
  height: 100%;
  max-height: 80vh;
}



.people {
  padding: 16px;
  border-radius: 8px;
  height: 100%;
  overflow-y: auto;
  max-height: 80vh;
}

.people h2{
  position: relative;
  display: inline-block; 
}

.people h2::after {
  content: '';
  position: absolute;
  height: 3px; /* Height of the underline */
  background-color: #406E8E; /* Color of the underline */
  left: 0;
  right: 0;
  bottom: -5px; /* Adjusts the distance from the text to the underline */
  border-radius: 5px; /* Adds rounded corners to the ends of the underline */
}

.people::-webkit-scrollbar {
  width: 8px;
}

.people::-webkit-scrollbar-thumb {
  background-color: #8EA8C3;
  border-radius: 4px;
}

.user-card {
  display: flex;
  align-items: center;
  background-color: #8EA8C3;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  gap: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.user-card:hover {
  background-color: #406E8E;
  color: white;
}



.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-role {
  font-size: 12px;
  color: black;
}
/*SignUp and Login page styling*/

.signup-container, .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #23395B;
}
.signup-box, .login-box {
  background-color: #8EA8C3;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.signup-box h2, .login-box h2{
  color: #23395B;
}

.signup-input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.input1 {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #161925;
  background-color: #ffffff;
  color:black;
}

.signup-button, .login-button {
  width: 100%;
  padding: 10px;
  background-color: #23395B;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.signup-button:hover, .login-button:hover {
  background-color: #406E8E;
}

.switch-text {
  margin-top: 10px;
  font-size: 14px;
}
.switch-text a {
  color: #23395B;
  text-decoration: underline;
}


/*MODALS*/

.Settingsmodal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.Settingsmodal-content {
  background-color: #23395B;
  margin: 15% auto;
  margin-top: 5%;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height:50%;
  text-decoration-color: #161925;
  font-size: 16px; /* Adjust size as needed */
  font-weight: normal;
  border-radius: 20px;
  border-color: #8EA8C3;
}

.Settingsclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.Settingsclose:hover,
.Settingsclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.shake {
  animation: Gur 0.5s cubic-bezier(.36,.07,.19,.97) infinite;
}
@keyframes Gur {
  0%, 100% { transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-5px, 5px); }
  20%, 40%, 60%, 80% { transform: translate(5px, -5px); }
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full height of parent */
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full height of parent */
}

.addBox{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 300px;
  border-radius: 10px;
}